
.jumbotron{
    padding:10px;
    font-size:40px;
}
.container-fluid {
    padding-right: 40px;
    padding-left: 40px;
    margin-right: 15px;
    margin-left: 15px;
    background: #f3f3b9;
    height: 400px;
}

.h3, h3 {
    padding: 20px;
    font-size: 24px;
    border-bottom: 1px solid grey;
}

textarea.form-control {
    height: auto;
    padding: 35px;
    border-style: dashed;
    text-align: center;
}
.form-group {
    border-bottom: 1px solid grey;
    padding: 10px;
    margin-top: -15;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    margin: 15;
    border-radius: 35px;
    width: 250;
    height: 50;
}
@media screen and (min-width: 768px){
.jumbotron .h1, .jumbotron h1 {
    font-size: 50px;
    margin: 10 550;
}
}
@media screen and (min-width: 980px){
    .jumbotron .h1, .jumbotron h1 {
        font-size: 50px;
        margin: 10 210;
    }
    }